---
title: Chairpersons & Editors | Trinity News Archive 
layout: default
---

<main>
  <div class="wrapper">
    
    <h1 class="page-title xx-large">Browse the full archive</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

    
    <nav>
	    <div class="callout">
		<h3 class="small"> Missing issues</h3>
		<p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
	</div>
	    
		
		
		
	{% assign issues_by_volume = site.data.archive | group_by:"volume" %}
		
	{% for volume in issues_by_volume %}
	<a href="#vol-{{volume.name | round}}">Vol {{volume.name | round}}</a>,

	{%endfor%}
	
	
	{% for volume in issues_by_volume %}
	
	<h3 id="vol-{{volume.name | round}}">Volume {{volume.name | round}}</h3>
	
	<ol class="collection-link-grid volumes">	
		{% for issue in volume.items%}
		<li class="collection-link">
		
		<a href="/archive/assets/{{issue.pdf}}">
			<img src="/archive/assets/{{issue.thumb}}" width="100">
			
			<p>Issue: {{issue.issue}}</p>
			
			<p>{{issue.publication_date | date: "%A %B %-d, %Y"}}</p>

	
			
		</a>
		</li>
		{%endfor%}
	</ol>
	{%endfor%}
		
		
		
		
		
		
		
		
	{% comment %} 	
	    <h2 class="large">Browse by decade</h2>
	    
	    <ol class="collection-link-grid decades">
		    <li class="collection-link allcaps">
				<a href="/archive/decade/1953-1959">1953&mdash;1959</a>
			</li>
			<li class="collection-link allcaps">
					<a href="/archive/decade/1960-1969">1960&mdash;1969</a>
			</li>
			<li class="collection-link allcaps">
				<a href="/archive/decade/1970-1979" class="some">1970&mdash;1979</a>
			</li>
			<li class="collection-link allcaps">
				<a href="/archive/decade/1980-1989" class="none">1980&mdash;1989</a>
			</li>
			<li class="collection-link allcaps">
				<a href="/archive/decade/1990-1999" class="some">1990&mdash;1999</a>
			</li>
			<li class="collection-link allcaps">
				<a href="/archive/decade/2000-2009" class="some">2000&mdash;2009</a>
			</li>
			<li class="collection-link allcaps">
				<a href="/archive/decade/2010-2019">2010&mdash;2019</a>
			</li>
		</ol>
	</nav>
	
	<nav>
		
		
	
		
		
		
		

		
		
		<h2 class="large">Browse by volume*</h2>
		<section id="notes">
		<h5 class="small">A note on volume numbers</h5>
		<p class="x-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	</section>
		<ol class="collection-link-grid volumes">
		
			{% for volume in site.data.volumes %}
			<li class="collection-link">
				<a href="/archive/volume/vol-{{volume.volume}}" class="{{volume.achive_status}}">
					Vol. {{volume.volume}}  
					<span class="x-small">{{volume.start_year}}—{{volume.end_year}}</span>
				</a>
			</li>
			{% endfor %}
		</ol>	
	</nav>
	
	
	
	<div class="callout">
		<h3 class="small"> Missing issues</h3>
		<p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
	</div>

  </div>

 {% endcomment %} 

  
</main>

{% comment %} 

	
{% assign collection = site.data.volumes | where_exp: "item", "item.volume == 55" %}

{% for item in collection %}

	Vol. {{item.volume}}
	
	
	{% for issue in item.issues %}

		<p>Issue: {{issue.issue}}, {{issue.editor}}</p>
	
	{% endfor %}
	

{% endfor %}

{% endcomment %} 





<!-- JSON EXAMPLE -->
<!--
{% for volume in site.data.volumes %}
	
	Vol. {{volume.volume}} 
	
	{% unless volume.achive_status == "none" %}
	
	
	{% for issue in volume.issues %}

		<p>Issue: {{issue.issue}}, {{issue.editor}}</p>
	
	{% endfor %}
	
	{% else %}
	
	<p>Help us</p>
	
	{% endunless%}


{% endfor %}
-->





















<!--

<div id="fifties" class="wrapper">
 
	<h2 class="decade-title">1950’s</h2> 
	
	<p>This material is available thanks to a donation of five bound volumes by Colin Smythe. Funding to digitise the volumes was generously provided by the TCD Assocation and Trust and the Publications Committee and carried out by Glenbeigh Records Management.</p>
	
	<ol class="decade">
		{% assign fifties = site.data.issues | where: "decade", "Fifties" %}

		{% for item in fifties %}
		<li class="issue"><a href="{{item.pdf}}"><img src="images/thumbs/{{item.decade}}/{{item.volume}}/{{item.issue}}/thumb.jpg" width="100%" class="thumb" alt="Trinity News, Issue {{item.issue}}, Volume {{item.volume}}, {{item.start_year}}—{{item.end_year}}, Edited by {{item.editor}}" title="Trinity News, Issue {{item.issue}}, Volume {{item.volume}}, {{item.start_year}}—{{item.end_year}}, Edited by {{item.editor}}"></a>
			
			<p class="meta">Volume {{item.volume}}, {{item.start_year}}—{{item.end_year}}</p>
			<p class="meta">Issue {{item.issue}}<br/> {{item.term}} Term, {{item.actual_year}}</p>
			<p class="meta">Edited by {{item.editor}}</p>
			
		
		</li>
		{% endfor %}
	</ol>
	
</div>






<div id="sixties" class="wrapper">
 
	<h2>1980’s</h2> 
	
	<p>This material is available thanks to a donation of five bound volumes by Colin Smythe. Funding to digitise the volumes was generously provided by the TCD Assocation and Trust and the Publications Committee and carried out by Glenbeigh Records Management.</p>
	<div class="callout">
		<h3> Missing issues</h3>
		<p>Our collection of issues covering the 1980's is incomplete. If you were involved in Trinity News at the time and have retained any physical issues, please get in contact at info@trinitynewsarchive.ie to help us complete the archive.</p> 
	</div>
	
	
	<ol class="decade">
		{% assign fifties = site.data.issues | where: "decade", "Fifties" %}

		{% for item in fifties %}
		<li class="issue">
			<a href="{{item.pdf}}">
				<img src="images/thumbs/{{item.decade}}/{{item.volume}}/{{item.issue}}/thumb.jpg" width="100%" class="thumb" alt="Trinity News, Issue {{item.issue}}, Volume {{item.volume}}, {{item.start_year}}—{{item.end_year}}, Edited by {{item.editor}}">
			</a>
			
			<p>Issue {{item.issue}}, Volume {{item.volume}}, {{item.start_year}}—{{item.end_year}}</p>
			<p>{{item.term}} Term, {{item.actual_year}} <span class="midot">•</span> Edited by {{item.editor}}</p>
		
		</li>
		{% endfor %}
	</ol>
	
</div>
-->
