 /*
	  
---------------------------------------------	  
FONTS
---------------------------------------------
font-family: 'Playfair Display SC', serif;
font-family: 'Playfair Display', serif;
font-family: 'Merriweather', serif;
font-family: 'Libre Franklin', sans-serif;

---------------------------------------------
COLORS
---------------------------------------------
BG FILL: 			#F7F7F2

SEARCH BLUE: 		#1E6AD6
LINK GREEN:			#1A8249
DARK GREEN:			#2F4F3E

HEADLINE:			#141A17
TEXT:				#29332D
FADED TEXT:			#858C88

LINES:				#E3E6E4

---------------------------------------------

*/



/* 
---------------------------------------------
TYPOGRAPHY
---------------------------------------------
*/

html {
	font-size: 16px;
}

body {
	font-family: 'Merriweather', Georgia, serif;
	line-height: 1.5rem;
	color: #29332D;	
}

.xx-small {
	font-size: 0.75rem;
	line-height: 1.25rem;
}

.x-small {
	font-size: 0.875rem;
	line-height: 1.25rem;
}

.small {
	font-size: 1rem;
	line-height: 1.5rem;
}

.medium {
	font-size: 1.25rem;
	line-height: 1.75rem;
}

.large {
	font-size: 1.5rem;
	line-height: 1.75rem;
}

.x-large {
	font-size: 1.75rem;
	line-height: 1.75rem;
}

.xx-large {
	font-size: 3rem;
	line-height: 2.4rem;
}

.xxx-large {
	font-size: 3.25rem;
	line-height: 4rem;
}

h1, h2, h3, h4, h5, h6 {
	color: #141A17;
	margin: 2rem 0 0 0;
}


h1, h2 {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
}

	h3, h4, h5, h6 {
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 500;
}

p {
	margin: 1rem 0 2rem 0;
}

li {
	
}

.allcaps {
	font-family: 'Libre Franklin', 'Tahoma', sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	color: #858C88;
	line-height: 1rem;
	font-weight: 500;
}

.helper {
	font-family: 'Libre Franklin', 'Tahoma', sans-serif;
	color: #858C88;
}

.banner-title {
	text-align: center;
}

.page-title {
	text-align: center;
	padding: 0.5em 0 0.25em 0;
}

.standfirst {
	color: #141A17;
}

/* 
---------------------------------------------
LINKS, BUTTONS & NAV
---------------------------------------------
*/

a {
	color: #1A8249;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.jump-links {
	text-align: center;
	margin: 1rem 0;
	padding: 1rem 0;
}


/* ~
GLOBAL NAV
~ */

.nav-link {
	list-style: none;
	padding: 0;
	margin: 0.5rem 0;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}

.nav-link a {
	padding: 1rem 2rem;
	text-decoration: none;
	color: #858C88;
	border-radius: 2rem;
}

.nav-link a:hover {
	background: rgba(133, 140, 136, 0.05);
}


/* ~
LINK GRIDS
~ */

.collection-link-grid {
	padding: 0;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-column-gap: 0.5rem;
	grid-row-gap: 0.5rem;
}

.collection-link-grid.decades {
	grid-template-columns: repeat(4, 1fr);
}

.collection-link {
	list-style: none;
}

.collection-link a {
	font-family: 'Libre Franklin', sans-serif;
	display: block;
	text-align: center;
	padding: 1.25rem 1rem;
	border-radius: 0.25rem;
	border: 1px solid #E3E6E4;
}


.collection-link-grid.volumes .collection-link a {
	padding: 1rem 1rem 1.125rem 1rem;
}

.collection-link a:hover {
	background: #F7F7F2;
	text-decoration: none;
}

.collection-link span {
	display: block;
	font-size: 0.675rem;
	line-height: 1;
	margin: 0.3rem 0 0 0;
}

/*
.collection-link a.some {
	background: none;
	border-color: #FCE7C4;
}

.collection-link a.none {
	background: none;
	border-color: #FDC1BF;
}


*/




/* 
---------------------------------------------
LAYOUT
---------------------------------------------
*/

html {
  scroll-behavior: smooth;
  background-color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 720px;
}


/* 
---------------------------------------------
MODULES
---------------------------------------------
*/

/* ~
MASTHEAD
~ */

.masthead {
	text-align: center;
	display: block;
}

.masthead:hover {
	text-decoration: none;
	opacity: 0.9;
}

.flag {
  font-family: 'Playfair Display SC', serif;
  font-weight: 700;
  font-size: 3.875rem;
  line-height: 1;
  margin: 1.5rem 0;
  padding: 0 0 2rem 0;
  border-bottom: 1px solid #E3E6E4;
  -webkit-font-smoothing: antialiased;
}

.motto  {
  font-family: 'Playfair Display SC', serif;
  display: block;
  font-weight: 400;
  letter-spacing: 1px;
  color: #29332D;
  line-height: 1;
  font-size: 1rem;
  width: 16em;
  margin: -2rem auto 0 auto;
  background-color: #ffffff;
}

.motto span {
  font-family: 'Playfair Display', serif;
  text-transform: lowercase;
  font-style: italic;
  letter-spacing: normal;
  font-size: 85%;
  opacity: 0.9	;
}

.global-header .motto {
	background-color: #F7F7F2;
}


/* ~
BANNER 
~ */

.banner {
	background-color: #F7F7F2;
	padding: 0 0 3.5rem 0;
}

.banner h2 {
	max-width: 960px;
	margin: 0 auto;

}


/* ~
CALLOUT 
~ */

.callout {
	border: 1px solid #E3E6E4;
	border-radius: 4px;
	padding: 2rem 2rem 1.5rem 2rem;
	margin: 1em 0;
	background: #F7F7F2;
	font-family: 'Libre Franklin', 'Tahoma', sans-serif;
}

.callout h3,
.callout h5,
.callout p {
	margin: 0 0 1rem 0;
}


.callout .person {
	border: none;
	padding: 0;	
}


/* ~
PERSON LIST 
~ */

.person-list {
	padding: 0;
	margin: 3rem 0 2rem 0;
	
}

.person-list h2 {
	padding-bottom: 2rem;
	padding-top: 2rem;
	border-bottom: 4px solid #efefef;
}

.person {
  border-bottom: 1px solid #efefef;
  padding: 1rem 0 1.25rem 0;
  list-style: none;
}

.person h1 {
	margin: 1rem 0 1rem 0;
  }
  
.person p {
	margin: 0 0 1rem 0;
}

.midot {
  opacity: 0.5;
  padding: 0 1rem;
}

.title {}
.meta {}
.volume {}
.years {}


/* ~
ACKNOWLEDGEMENT 
~ */

.acknowledgement {
	padding: 2rem 0;
	background-image: url(/images/volumes.png);
	background-position: top right;
	background-size: 15rem;
	background-repeat: no-repeat;
}

.acknowledgement p {
	width: 60%;
}


/* ~
HEADER
~ */

.global-header {
  padding: 1rem 0 2rem 0;
  background-color: #F7F7F2;
 
}


.global-header nav, 
.global-header nav ul {
	padding: 0;
	margin: 0;
	text-align: center;
}

.global-header nav {
	margin: 1.75rem auto 0 auto;
}


/* ~
FOOTER 
~ */

.global-footer {
  background: #141A17;
  padding: 3rem 0 2rem 0;
  text-align: center;
  border-top: 1rem solid #2F4F3E;
}






/* ~
---------------------------------------------

WILD WEST BELOW HERE

---------------------------------------------
~ */




/* VOLUNES */

/* THUMBNAILS */
.thumbnail-grid {
	list-style: none;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-column-gap: 10px;
	grid-row-gap: 10px;
}
.thumbnail {
	background-color: #f9f9f6;
	margin: 0;
	padding: 10px;
}



	

