<div class="wrapper">
	
	<div class="acknowledgement">		
		
		<h3 class="small">Background</h3>
		<p class="x-small">This material is available thanks to a donation of five bound volumes by Colin Smythe. Funding to digitise the volumes was generously provided by the TCD Assocation and Trust and the Publications Committee, and was carried out by Glenbeigh Records Management. The project was organised by Martin McKenna (Editor, 2008&ndash;9) and launched at the Publications Committee Alumni Dinner in the Atrium on March 25, 2011. It was revised and expanded by Martin and Gearóid O'Rourke (Editor. 2007&ndash;8) in January 2020.</p>
	
	</div>
		
</div>