<div id="search-box">
	
	
	<div class="wrapper">
		
		<script>
		  (function() {
		    var cx = '003293900181998496432:5u8iapcijac';
		    var gcse = document.createElement('script');
		    gcse.type = 'text/javascript';
		    gcse.async = true;
		    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
		    var s = document.getElementsByTagName('script')[0];
		    s.parentNode.insertBefore(gcse, s);
		  })();
		  window.onload = function()
		  	{ 	
			  var searchBox =  document.getElementById("gsc-i-id1");
			  searchBox.placeholder="Search the Trinity News Archive";
			  searchBox.title="Search the Trinity News Archive";
			}
		</script>
		
		<gcse:search></gcse:search>
		
  	</div>
  
  	<div id="search-instructions">
		<div class="wrapper">
			<p class="x-small">Clicking a search result will download a PDF of that issue. For current issues of <i>Trinity News</i> see <a href="http://www.trinitynews.ie">trinitynews.ie</a></p>
		</div>
	</div>
	

</div>

